# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

server/venv/
server/__pycache__/
server/*/__pycache__/
server/*/*/__pycache__/
.env
/venv/
venv/